@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

body,
html {
  font-family: "Roboto Slab", serif;
  overflow-x: hidden;
  scrollbar-width: thin;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container{
  background: url("./assets/images/toucan.jpg") no-repeat right center;
  background-size: contain;
}

::-webkit-scrollbar {
  width: 5px;
  background:transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(171,171,171);
  -webkit-border-radius: 2ex;
}

@media #{$media-mobile} {
  .container{
    background: url("./assets/images/toucan.jpg") no-repeat center bottom;
    background-size: contain;
  }
}